
@import "variables.less";

.wrapper {
    padding: 10px;
    background-color: transparent;

    border: @medium-border-thickness solid transparent;
    border-radius: @border-radius;

    transition: 0.05s ease-out;
}

.active {
    background-color: @background-dark-color;
    border-color: @border-light-color;
    box-shadow: @box-shadow;
}

.hover:hover {
    .active()
}