
@import "variables.less";

.wrapper {
    padding: 10px;
    margin: @medium-border-thickness - @light-border-thickness;
    background-color: @background-light-color;

    border: @regular-border-thickness solid @border-dark-color;
    border-radius: @border-radius;

    transition: 0.1s ease-out;
    transition: margin 0s;
    transition: border 0s;

    &:hover {
        background-color: @background-dark-color;
    }

    &:disabled {
        box-shadow: none;
        background-color: @background-light-color;
        border: @light-border-thickness solid @border-light-color;

        & * {
            filter: @filter-border-color-light;
        }
    }
}

.active {
    margin: 0;
    border: @medium-border-thickness solid @border-dark-color;
    box-shadow: @box-shadow;
    background-color: @background-dark-color;
    & > * {
        // transition: 0.1s ease-out;
    }
}