
@import "variables.less";

.wrapper {
    box-sizing: border-box;

    height: 3px;
    width: 3px;

    margin: 5px;

    border: none;
    
    background-color: transparent;
    
    transition: 0.1s ease-out;
}

.hoverColumn {
    width: 100px;
    background-color: @droppable-hover-color;
}

.hoverRow {
    height: 100%;
    background-color: @droppable-hover-color;
}