


// Variables

// Font thickness
@light-font-thickness: 300;
@regilar-font-thickness: 400;
@medium-font-thicnkess: 500;

// Font size
@small-font-size: 16;
@medium-font-size: 24;
@large-font-size: 32;

// Border thickness
@light-border-thickness: 0.5px;
@regular-border-thickness: 1px;
@medium-border-thickness: 1.5px;
@bold-border-thickness: 2.5px;

// Border radius
@border-radius: 5px;

// Color
@background-light-color: #F4F9FD;
@background-dark-color: #E9F1F9;

@border-light-color: #8197BC;
@border-dark-color: #4E648B;

@text-light-color: #213455; // #4E648B

@icon-light-color: #8197BC;
@icon-dark-color: #213455;

// Draggable colors
@draggable-background-color: #E9F1F9;
@draggable-background-dark-color: #c1d1ee;
@draggable-border-color: #8197BC;
@draggable-text-color: #213455;

// Draggable colors
@droppable-background-color: #F4F9FD;
@droppable-border-color: #8197BC;
@droppable-hover-color: #246ff0;

// Box shadow
@box-shadow: 0 0 3px 0 rgba(0, 0, 0, 25%);

// Color but in filter
@filter-color-light: invert(62%) sepia(46%) saturate(255%) hue-rotate(179deg) brightness(88%) contrast(86%);

// Mixins
.alignment(@margin: 10px) {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
        margin-right: @margin;
    }

    & > *:last-child {
        margin-right: 0px;   
    }
}